@import 'styles/variaveis';

.container {
    margin-block: 4.4rem;

    p {
        font-size: $normal-size;
        font-family: $font-abel;
        color: $preto;

        span {
            color: #000;
        }
    }

    .tamanho {
        display: flex;
        gap: 20px;

        button {
            outline: 2px solid $cinza;
            background: $branco;
            color: $preto;
            text-transform: uppercase;
            border: none;
            width: 49px;
            height: 49px;
            font-size: $medium-size;
            font-family: $font-abel;
            cursor: pointer;
        }

        .selecionado {
            color: $branco;
            outline: 2px solid $preto;
            background: #4F4F4F;
        }
    }

    .cores {
        button {
            outline: 1px solid $preto;
            border: 1px solid $preto;
            border: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }

        .selecionado {
            outline: 1px solid $preto;
            border: 2px solid $branco;
        }
    }
}