$font-abel: 'Abel';
$font-moon: 'MoonT';

$branco: #fff;
$preto: #242424;
$azul: #353394;
$azul-escuro: #010028;
$cinza: #D9D9D9; 

$large-size: 5.6rem;
$title-size: 4.4rem;
$subtitle-size: 3.6rem;
$produto-size: 3.2rem;
$medium-size: 2rem;
$normal-size: 1.6rem;
$small-size: 1.4rem;